.footer-section .footer-manubar h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.footer-section .footer-manubar ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3sease-in-out;
}
.footer-section .footer-manubar ul li a:hover {
    color: #D8A902;
}
.footer-section .footer-manubar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section .footer-manubar ul li {
    margin-bottom: 17px;
}


.footer-section .footer-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 62px 94px 42px 68px;
}

.footer-section .footer-row::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(90deg, #D8A902 0%, #000000 50%, #D8A902 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: 13px;
    z-index: -1;
}

.footer-section {
    padding-bottom: 30px;
}

.footer-section .copy-right-row {
    margin-top: 51px;
    position: relative;
}

.copy-right-row::before {
    content: '';
    position: absolute;
    width: 974px;
    height: 244px;
    background: radial-gradient(50.08% 50% at 50% 50%, #D8A902 0%, rgba(216, 169, 2, 0) 100%);
    mix-blend-mode: lighten;
    filter: blur(250px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
}

.copy-right-row p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}

.sub-div {
    position: relative;
}

.casino-section .slider-img {
    position: relative;
    cursor:pointer;
}

.button.casino-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.sub-div:hover .button.casino-button {
    opacity: 1;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

.sub-div:hover .button.casino-button a{
    background: #D8A902;
    color: #000;
}

.sub-div:hover .button a img {
    filter: invert(1); 
}

.sub-div {
    position: relative;
}

.sub-div .slider-img {
    position: relative; 
    display: inline-block;
}

.sub-div .slider-img::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    top: 0;
    left: 0;
    width: 100%;
    height: 0; 
    transition: all 0.5s ease-in-out;
}

.sub-div:hover .slider-img::before {
    height: 100%;
}
