header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
header .row .ManuBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 160px;
}

header .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
}

.header-logo {
  width: 193px;
  height: 100%;
  padding: 0;
}

.header-logo img {
  width: 104px;
  height: auto;
}

header .row .ManuBar {
  padding: 0;
  width: 480px;
}

header .row .ManuBar ul li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3sease-in-out;
}

header .row .ManuBar ul li a:hover {
  color: #D8A902;
}

.row.mobile-header.g-0 {
  display: none;
}

.button a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 16.467px 29.94px;
  border: 1.0981px solid #FFFFFF;
  border-radius: 6.6px;
  text-decoration: none;
  display: inline-flex;
  width: fit-content;
  transition: all 0.3sease-in-out;
  padding: 12px 29px;
  align-items: center;
}

.button a:hover {
  background: #D8A902;
  color: #000;
}



.buttons-main {
  display: flex;
  gap: 18px;
  width: 20%;
  justify-content: end;
}

.button img {
  width: 9.5px;
  height: 8.52px;
  margin-left: 8px;
}

.button a img {
  transition: filter 0.3s ease; 
}

.button a:hover img {
  filter: invert(1); 
}
/* banner section css */
.banner-section {
  position: relative;
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 139px 0px 80px;
}

.banner-img {
  width: 865px;
  height: 834px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-section .banner-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content-main {
  width: 50%;
}

.img-main {
  width: 50%;
}

.banner-content h1 {
  width: 749px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 105.69px;
  line-height: 109px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.banner-content h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 39.4574px;
  line-height: 109%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0A0A0A;
  box-shadow: inset 89.7146px -89.7146px 89.7146px rgba(165, 165, 165, 0.061), inset -89.7146px 89.7146px 89.7146px rgba(255, 255, 255, 0.061);
  backdrop-filter: blur(70.3023px);
  border-radius: 13.0161px;
  padding: 21px 24px;
  position: relative;
  margin: 24px 0px 38px;
}

.banner-content h3::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #D8A902 0%, #000000 50%, #D8A902 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border-radius: 13px;
}

.banner-content {
  position: relative;
}

.banner-content p {
  width: 705px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 68px;
}

.left-img {
  position: absolute;
  width: 166px;
  height: 142px;
  left: -83px;
  top: 250px;
}

.left-img img {
  width: 100%;
  height: 100%;
}

.right-img {
  position: absolute;
  right: -60px;
  width: 230px;
  height: 196px;
  top: 211px;
  filter: blur(10px);
}

.right-img img {
  width: 100%;
  height: 100%;
}